h2, p {
    padding: 0px;
    margin: 0px;
    text-align: center;
    width: auto;
}

.work-description-section p {
    text-align: left;
}

.work-description-section h3 {
    padding: 0px;
    margin: 0px;
}

.work-description-section h4 {
    font-size: 18px;
}

.right-section h3, .right-section h4, .right-section p {
    text-align: right;
}

h4 {
    font-weight: normal;
}

.work-title-section p {
    text-align: center;
}

.right-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.research-section, .novarad-section, .broadcasting-section, .swe-section {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 0px 100px 0px;
    padding: 40px;
    gap: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.education-img {
    min-width: 250px; 
    max-width: 100%;
    height: auto;
    width: 600px;
}

.work-section {
    margin: 0px 150px 0px 150px;
    gap: 20px;
}

.work-description-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    word-wrap: break-word;
    max-width: 550px;
    height: auto;
    gap: 5px;
}

.work-description-section .work-title-section {
    flex: 1;
    box-sizing: border-box;
}

h4 {
    padding: 0;
}

@media (max-width: 900px) {
    h1.title {
        font-size: 60px;
        word-wrap: word-break;
        overflow-wrap: break-word;
        /* hyphens: auto; */ /* couldn't get this to work yet */
    }

    .research-section, .novarad-section, .broadcasting-section, .swe-section {
        flex-direction: column;
        align-items: center;
    }
    .work-description-section p, .work-description-section h3, .work-description-section h4 {
        text-align: center;
    }

    .work-section {
        margin: 0px 40px 0px 40px;
    }

    .work-title-section.left-section {
        order: 2;
    }

    .work-title-section.right-section {
        order: 1;
    }
}
