.title-section h3 {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 640px;
}

.title-section .navigation-bar {
    margin-bottom: 50px;
}



/* MEDIA SIZE SETTINGS */

@media (max-width: 700px) {
  .title-section h3 {
    margin-left: 20px;
    margin-right: auto; 
  }
}




