
/* Aligning container-fluid */
.navbar .container-fluid {
    display: flex;
    position: relative;
    align-items: center;
}

/* Centering the navbar-nav */
.navbar .navbar-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Adds space between nav items */
.navbar .navbar-nav .nav-item {
    margin-left: 40px; 
    font-size: 20px;
}

/* Style for 'all-projects' link */
.all-projects {
    font-style: italic;
}

/* Styling the navbar-brand (header link) */
.navbar .navbar-brand {
    margin-left: 20px;
    /* font-family: 'Snell Roundhand', cursive; */
    font-size: 40px;
}

/* Ensuring all links in the navbar are white, regardless of state */
.navbar .nav-link {
    color: rgb(165, 165, 165);
}

.navbar .nav-link:link,
.navbar .nav-link:visited,
.navbar .nav-link:hover,
.navbar .nav-link:active {
    color: rgb(165, 165, 165);
    text-decoration: none;
}

/* Optional: Add a slightly different color on hover */
.navbar .nav-link:hover {
    color: rgb(236, 236, 236); /* Light grey on hover */
}

.navbar .navbar-brand:link,
.navbar .navbar-brand:visited,
.navbar .navbar-brand:active {
    color: rgb(165, 165, 165);
    text-decoration: none; /* Optional: Removes underline */
}

/* Optional: Change logo color on hover */
.navbar .navbar-brand:hover {
    color: rgb(238, 237, 237);
}

/* Optional: Hover effect for dropdown items */
.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:visited,
.dropdown-item:link {
    color: #333333;
    text-decoration: none;
}

.nav-links li {
    margin: 0;
    text-align: center;
}

.navbar-nav .nav-item .nav-link {
    font-size: 1.2rem;
}

.navbar .navbar-nav {
    background-color: #212529;
}

/* Media Query for smaller screens */
@media (max-width: 988px) {
    .navbar .navbar-nav {
        /* display: inline-block; */
        position: fixed;
        right: 0;
        left: auto;
        transform: none;
        background-color: #212529;
        width: 200px;
    }
    
    .navbardropdown.nav-link.dropdown-toggle {
        text-align: center;
    }

    .dropdown-menu.show {
        background-color: #212529;
        width: 165px;
        border: none;
        white-space: wrap;
        display: block;
        /* text-overflow: ellipsis; */
        /* overflow: hidden; */
    }

    .dropdown-item:active,
    .dropdown-item:visited,
    .dropdown-item:link {
        color: rgb(165, 165, 165);
        background-color: #212529;
    }

    .dropdown-item:hover {
        color: rgb(236, 236, 236);
        background-color: #212529;
    }

    .dropdown-item {
        padding: 5px;
        white-space: normal;
    }

}
