.title-line {
    margin-bottom: 40px;
}

.page-body {
    margin: 0px 150px 0px 150px;
    gap: 20px;
}

.page-body h2 {
    padding: 0;
    margin: 20px 0 0 0;
}

.project-description {
    margin: 50px;
}

.maternal-img {
    max-width: 800px;
    margin: 50px;
}