/*body {*/
/*  border: 1px solid black;*/
/*}*/

/*h1, h2, h3, p, .navigation-bar, weather-button, */
/*form, */
/*.weather-in-city, */
/*.today, */
/*.city, */
/*.today-title, */
/*.today-high, */
/*.today-icon,*/
/*.weather-day,*/
/*.weather-week,*/
/*.weather-hour,*/
/*.date,*/
/*.daily-time-temp,*/
/*.icon-description*/
/*{*/
/*  border: 1px solid black;*/
/*}*/

body {
    margin-bottom: 50px;
}
.body-under-nav {
    all: initial;
}

h1{
    font-size: 80px;
    margin-top: 40px;
}

h1, form {
    text-align: center;
}

h2 {
    font-size: 50px;
    margin: 0px;
}

h3 {
    font-size: 25px;
    margin: 0px;
    font-weight: 600;
}

.enter-city {
    margin: 10px;
}

.enter-city label {
  font-size: 20px;
  margin-right: 10px; /* Adds space to the right of the label */
}

.enter-city input {
  width: 200px;  
  height: 25px;  
  font-size: 18px;  
}

.enter-city input::placeholder {
  font-style: italic; /* Makes the placeholder text italic */
}

img {
    size: 30px;
}

#weatherSubmit {
    width: 70px;
    height: 25px;
    font-size: 16px;
}

.date {
    text-align: center;
    border: 2px solid #d5d5d5;
    border-radius: 15px;       
    background-color: #f0f0f0; 
}

.weather-in-city h1,
.weather-in-city h2 {
    margin: 5px;
}

.search-city {
    padding: 20px;
}

.weather-hour {
    margin-top: 30px;
    border: 2px solid #d5d5d5;
    border-radius: 15px;       
    background-color: #f0f0f0; 
}

.weather-week {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}

.daily-hour h3 {
    font-size: 20px;
    font-weight: 600;
}

.daily-description {
    width: 84px;
}

.weather-hour p {
    margin: 0px;
}

.icon-description {
    display:flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
}

.today {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 200px;
    margin-right: 200px;

    align-items: center;
}

/*.weather-in-city, .today-title, .today-high, .today-icon {*/
/*  flex: 1; /* Make each child take up an equal amount of space */
/*  padding: 0 10px; /* Optional: Add padding between items */
/*}*/

.city {
    font-size: 30px;
}

.icon-description, .daily-description {
    align-items: center;
}

.daily-time-temp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 40px;
}

.weather-day-0 .date,
.weather-day-0 .weather-hour,
.weather-day-2 .date,
.weather-day-2 .weather-hour,
.weather-day-4 .date,
.weather-day-4 .weather-hour{
        background-color: #dbd9d9; 
}

.weather-day-1 .date,
.weather-day-1 .weather-hour,
.weather-day-3 .date,
.weather-day-3 .weather-hour{
        background-color: #e9e9ea; 
}


body {
  background-color: #e5eff2;
}



/* NAVIGATION BAR */
.navbar-inverse .container-fluid {
  display: flex;
  position: relative;
  align-items: center; /* Vertically center items */
  font-family: 'Optima', sans-serif;
  font-size: 18px;
}

/* Centering the navbar-nav */
.navbar-inverse .navbar-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Adds space between nav items */
.navbar-inverse .navbar-nav > li {
  margin-left: 20px; 
}

.all-projects {
  font-style: italic;
}

.navbar-inverse .navbar-header a {
    font-family: Snell Roundhand, cursive;
    font-size: 40px;
}